.usercardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userCard {
  display: flex;
  gap: 1.2rem;
  background: white;
  border-radius: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  padding: 1rem 2rem;
  transition: all 0.2s;
  margin-bottom: 1rem;
  transition: all 0.2s;
  border: 1px solid rgb(122, 122, 122);
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.userProfilePic {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}
.userCard:hover {
  transform: scale(1.005);
  border: 1px solid black;
}

.acceptButton {
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem 1.2rem;
  font-size: 0.9rem;
  transition: all 0.25s ease;
  /* box-shadow: 0 4px 12px rgba(0, 123, 255, 0.25); */
  align-self: center;
}

.acceptButton:hover {
  background: linear-gradient(135deg, #0056b3, #00408f);
  /* box-shadow: 0 0 15px rgba(0, 123, 255, 0.6); */
}

.acceptButton:active {
  transform: translateY(1px);
  box-shadow: 0 2px 6px rgba(0, 86, 179, 0.3);
}
