.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbarOptionsContainer {
  display: flex;
  gap: 15px;
}

.buttonClass {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 2.5rem;
  background-color: #0a66c2;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  background: linear-gradient(90deg, #202c92 0%, #1cb5e0 100%);
}
.acceptButton {
  background: linear-gradient(135deg, #007bff, #0056b3);
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem 1.2rem;
  font-size: 0.9rem;
  transition: all 0.25s ease;
  align-self: center;
  width: fit-content;
}

.acceptButton:hover {
  background: linear-gradient(135deg, #0056b3, #45515c);
}

.acceptButton:active {
  transform: translateY(1px);
  box-shadow: 0 2px 6px rgba(0, 86, 179, 0.3);
}

.LogOutButton {
  background: linear-gradient(135deg, #ea192a, #ed1f1f);
  color: #fff;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 600;
  padding: 0.5rem 1.2rem;
  font-size: 0.9rem;
  transition: all 0.25s ease;
  align-self: center;
  width: fit-content;
}

.LogOutButton:hover {
  background: linear-gradient(135deg, #ea192a, #3f2323);
}

.LogOutButton:active {
  transform: translateY(1px);
  box-shadow: 0 2px 6px rgba(0, 86, 179, 0.3);
}

@media screen and (max-width: 600px) {
  .acceptButton {
    display: none;
  }
}
